html,body {
    /* background: #f8f9fa; */
    background: linear-gradient(rgb( 5,83,175), rgb(19,116,226));
}
.container {
    flex: 1;
    height: 100%;
    overflow-y:auto;
    padding: 1rem;
}
/* give headers a subtle background */
.card-header {
  background-color: #f8f9fa;
  border-bottom: none;
  font-weight: 600;
}

/* icon accent color */
.card-body .fa-2x {
  color: #2272C5;
}

/* tighten up spacing on list items */
.card-body ul.list-unstyled li {
  margin-bottom: 0.5rem;
}

/* hover state for “View More” link */
.card-body a.text-decoration-none:hover {
  text-decoration: underline;
}

.card-body button {
    border: 1px solid #000000;
    color: black;
    background: white;
}
.card-body button:hover {
    background: linear-gradient(to right, rgb( 5,83,175), rgb(19,116,226));
    color: white;
    border: 1px solid black;
}

a.button {
    border: 1px solid #000000;
    color: black;
    background: white;
}
a.button:hover {
    background: linear-gradient(to right, rgb( 5,83,175), rgb(19,116,226));
    color: white;
    border: 1px solid black;
}