html, body {
  height: 100%;
  margin:0;
}

/* left panel background + text */
.aside-panel {
    /* background-color: #2272C5; */
    background-image: linear-gradient(rgb(5, 83, 175),rgb(19, 116, 226));
    color: #fff;
    display: flex;
    flex-direction: column;
  }
  .aside-panel .nav-link {
    color: #fff;
  }
  .aside-panel .nav-link.active,
  .aside-panel .nav-link:hover {
    background-color: rgba(255,255,255,0.2);
  }
  .aside-panel .actions-btn {
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
  }

  .action-icons {
    color: white;
  }

  .actions-btn:hover{
    background-color: #fff;
    color: #2272C5;
  }
  
.photo-upload {
    position: relative;
    display: inline-block;
}
.photo-upload img {
    cursor: pointer; /* show its clickable */
    width: 120px;
    height: 120px;
    object-fit: cover;
    object-position: center top;
}
.photo-upload input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.details-page {
  height: calc(100vh - 56px); /* leave room for a sticky header */
  display: flex;
  padding: 0;
  overflow: hidden;
  }
  
  /* only the .row inside .details-page */
.details-page > .row {
  margin: 0;
  display: flex;
  flex: 1;
  }
  
  /* only the aside in our details page */
 .details-page .aside-panel {
  flex: 0 0 300px;
  height: 100%;
  position: sticky;
  top: 0;
  overflow-y: auto;
  }
  
  /* only the main in our details page */
.details-page main {
  flex: 1;
  height: 100%;
  overflow: auto;
  padding: 1rem;
  background: #f8f9fa;
  }

.detail-label {
  color:white !important;
  cursor: default;
  text-decoration: none !important;
}

.card-header {
  background-color: rgba(128, 128, 128, 0.329);
  border-top-left-radius: .8rem !important;
  border-top-right-radius: .8rem !important;
}